---
import { formatDate } from '~/utils/formatDate';
import ViewCount from '~/components/ViewCount.astro';

const { pubDate, stats, slug, increment = false } = Astro.props;
---

<dl class="postMeta">
  <div class="postMetaItem" data-type="published">
    <dt>Published</dt>
    <dd>
      <time datetime={pubDate}>
        {formatDate(pubDate)}
      </time>
    </dd>
  </div>

  {stats && (
    <div class="postMetaItem" data-type="readingTime">
      <dt>Reading time</dt>
      <dd>
        <time datetime={`PT${Math.ceil(stats.minutes)}M`}>{stats.text}</time>
        ({stats.words.toLocaleString()} words)
      </dd>
    </div>
  )}

  {slug && <ViewCount {slug} {increment} />}
</dl>
